* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background: url('../img/bg.png');
    background-size: cover;
    position: relative;
}


/*custom  CSS */

.sound-clips {
    visibility: hidden;
}

#record {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 150px;
}

#stop {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 220px;
}

#play {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 120px;
    left: 490px;
}

#save {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 830px;
}

#stopWrapper,
#playWrapper,
#saveWrapper {
    opacity: 0;
    display: none;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
        color: #1CA533;
    }
    to {
        -moz-transform: rotate(360deg);
        color: orange;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        fill: #1CA533;
    }
    to {
        -webkit-transform: rotate(360deg);
        fill: orange;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg) translate(10%, 10%);
        fill: #1CA533;
    }
    to {
        transform: rotate(360deg) translate(10%, 10%);
        fill: orange;
        ;
    }
}